{
	"button": [{
		"key": "11",
		"name": "点击按钮",
		"type": "click"
	}, {
		"name": "外联平台",
		"type": "view",
		"url": "http://dashboard.tunnel.echomod.cn/wechat/auth"
	}, {
		"name": "一级菜单",
		"sub_button": [{
			"key": "31",
			"name": "拍照发图",
			"type": "pic_photo_or_album"
		}, {
			"key": "32",
			"name": "发送位置",
			"type": "location_select"
		}],
		"type": "click"
	}]
}